.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.job-detail__form {
  max-width: 350px;
  margin: auto;
  margin-top: 50px;
}

.job-detail__form h4 {
  margin: 1.5rem 0;
}

.job-detail__form-item {
  margin: 1rem 0;
}